body{
    background-color: #F0EDCF;
    color: #000000;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

main{
    padding: 10px;
}
header{
    color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    background-color: #0B60B0;
    width: 100%;
}

#panel-navegacion ul{
    margin-top: -10px;
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-left: -36px;
}

#panel-navegacion li{
    margin-right: 10px;
}
nav a {
    text-decoration: none;
    color: #F0EDCF;
  }

nav a:hover{
    color: #40A2D8;
}

footer{
    color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    background-color: #0B60B0;
    width: 100%;
    text-align: center;
}