body{
    background-color: #e791dc;
    color: white;
    margin: 0px;
}

header{
    color: rgb(255, 105, 68);
    padding: 10px;
    display: flex;
    flex-direction: column;
    background-color: bisque;
    width: 100%;
}

#panel-navegacion ul{
    margin-top: -10px;
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-left: -36px;
}

#panel-navegacion li{
    margin-right: 10px;
}
nav a {
    text-decoration: none;
    color: rgb(241, 175, 50);
  }

nav a:hover{
    color: rgb(94, 240, 245);
}